

.videoCard__thumbnail{
    height:180px;
    width:300px;
    margin-right: 20px;
}

.videoCard__info{
    display:flex;
    margin-top: 10px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.videoCard__text{
    margin-left:15px;
}

.videoCard__text > h4 {
    display: flex;
    font-size :16px;
    margin-bottom: 5px;
}

.videoCard__text > p{
    font-size: 16px;
    color:gray;
}

.videoCard__avatar {
    height:30px !important;
    width:30px !important;
}